.product-list {
    padding: 20px;
    background-color: #f8f9fa; // Light background color for the page

    .page-title {
        font-size: 2rem;
        color: #007366; // Primary color
        margin-bottom: 20px;
        text-align: center;
    }
}
