$primary-color: #C0E8F9; 
$secondary-color: #02243D; 
$text-color: #212529;
$border-color: #dee2e6;

.navbar {
    background-color: $primary-color;
    border-bottom: 1px solid $border-color;
    padding-left: 20px;
    padding-right: 20px;

    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .link {
        color: $secondary-color;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        transition: background-color 2s ease-in-out;

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }

    .navbar-nav {
        margin-left: auto;
        display: flex;
        align-items: center;

        .nav-link {
            color: $secondary-color;
            font-size: 1rem;
            margin-left: 1rem;
            font-weight: 500;
            transition: background-color 2s ease-in-out;

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }

        .logout-button {
            background-color: $secondary-color;
            color: $primary-color;
            border: none;
            padding: 0.5rem 1rem;
            margin-left: 1rem;
            font-size: 1rem;
            transition: background-color 2s ease-in-out;

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }

        .btn {
            background-color: $secondary-color;
            color: $primary-color;
            border: none;
            margin-left: 1rem;

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .nav-dropdown {
        position: relative;

        .dropdown-menu {
            right: 0;
            left: auto;
        }
    }
}
