// Navbar.scss

$primary-color: #C0E8F9; 
$secondary-color: #02243D; 
$text-color: #212529;
$border-color: #dee2e6;

.navbar {
    background-color: $primary-color;
    border-bottom: 1px solid $border-color;
    padding-left: 20px;
    padding-right: 20px;
    
    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        .link {
            color: $secondary-color;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: darken($secondary-color, 10%);
            }
        }
    }

    .navbar-nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        
        .nav-link {
            color: $secondary-color;
            font-size: 1rem;
            margin-left: 1rem;

            &:hover {
                color: darken($secondary-color, 10%);
            }
        }

        .logout-button {
            background-color: $secondary-color;
            color: $primary-color;
            border: none;
            padding: 0.5rem 1rem;
            margin-left: 1rem;
            font-size: 1rem;

            &:hover {
                background-color: darken($secondary-color, 10%);
                color: $primary-color;
            }
        }

        .btn {
            background-color: $secondary-color;
            color: $primary-color;
            border: none;
            margin-left: 1rem;

            &:hover {
                background-color: darken($secondary-color, 10%);
                color: $primary-color;
            }
        }
    }

    .navbar-toggler {
        margin-left: auto;
    }
}
