$primary-color: #C0E8F9; 
$secondary-color: #02243D; 
$text-color: #212529;
$border-color: #dee2e6;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;


    &__button {
        background-color: $primary-color; 
        color: $secondary-color; 
        border: none;
        width: 150px;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
}